.signup-form-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}
.signup-input {
    padding: 10px;
    margin: 7px;
    border-radius: 5px;
    width: 80%;
}

.signup-submit{
    position: relative;
    top: 10px;
    border-radius: 5px;
    background-color: #FF5A5F;
    border-color: #FF5A5F;
    color: white;
}
.sign-up-header{
    padding-bottom: 10px;
    text-align: center;
}
